---
---


$brand-primary: #1E5A96;
$brand-success: #69B978;
$gray-lighter: lighten(#000, 93.5%);

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: white;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

hr.star-light {
    border-color: white;
}

hr.star-light:after {
    background-color: $brand-success;
    color: white;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    background-color: white;
    color: #2c3e50;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    background: $brand-success;
    color: white;
    .container {
        padding-top: 110px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        margin: 0 auto 20px;
        width: 250px;
    }
    .intro-text {
        .name {
            display: block;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }
    }
}

.contributions {
    background-color: #69B978;
    color: white;
    padding: 2em;
}

.contributions a {
    color: white;
    text-decoration: underline;
}

.active-tool:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;

    border-bottom: 3em solid #69B978;
    position: absolute;
    bottom: -3em;
    left: calc(50% - 3em);
}

@media (min-width: 767px) {
    .active-tool:before {
        bottom: -2em;
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            .name {
                font-size: 4.75em;
            }
            .skills {
                font-size: 1.75em;
            }
        }
    }
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        .navbar-brand {
            font-size: 1.5em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
}

.navbar {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    a:focus {
        outline: none;
    }
    .navbar-nav {
        letter-spacing: 1px;
        li {
            a:focus {
                outline: none;
            }
        }
    }
}

.navbar-default,
.navbar-inverse {
    border: none;
}

section {
    padding: 100px 0;
    h2 {
        margin: 0;
        font-size: 2em;
    }
}

section.success {
    background: $brand-success;
    color: white;

    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
        color: white;
        text-decoration: underline;
        outline: none;
    }
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}
#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .caption {
                background: transparentize($brand-success, 0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .caption-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                }
            }
        }
        .calendaritem{
            width: 100%;
            text-align: center;
            h1 {
                font-size: 5em;
                color: #2c3e50;
            }
        }
        .inactivday{
            h1 {
                color: #dddddd;
            }
        }

    }
    * {
        z-index: 2;
    }
}

#contributors {
    .contributors-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .caption {
                background: transparentize($brand-success, 0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .caption-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        font-size: 20px;
    }
    #portfolio .calendaritem h1 {
        font-size: 8em !important;
    }
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
    #contributors {
        .contributors-item {
            margin: 0 0 30px;
        }
    }
    section h2 {
        font-size: 3em;
    }
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $brand-success;
        background: white;
        border: solid 2px white;
    }
}

footer {
    color: white;
    h3 {
        margin-bottom: 30px;
    }
    .footer-above {
        padding-top: 50px;
        background-color: $brand-primary;
    }
    .footer-col {
        margin-bottom: 50px;
    }
    .footer-below {
        padding: 25px 0;
        background-color: darken($brand-primary, 5%);
    }
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
    .btn {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 25px;
        &:focus {
            outline: none;
        }
    }
}
