---
layout: default
---

<div class="row">
    {% for door in site.doors %}
	{% if door.active %}
      <div class="col-sm-4 portfolio-item">
          <a href="#contributions-day-{{ door.day }}" data-toggle="modal" class="portfolio-link">
          	<div class="caption">
          	    <div class="caption-content">
          	        <i class="fa fa-calendar-o fa-3x"></i>
          	    </div>
          	</div>
          	<div class="calendaritem">
          	    <h1>{{ door.day }}</h1>
          	</div>
          </a>
      </div>
	{% else %}
		<div class="col-sm-4 portfolio-item">
			<div class="portfolio-link" >
				<div class="calendaritem inactivday">
					<h1>{{ door.day }}</h1>
				</div>
			</div>
		</div>
	{% endif %}
    {% endfor %}
</div>