<!-- Contributors Section -->
<section id="contributors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contributors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for contributor in site.contributors %}
            <div class="col-sm-4 contributors-item">
                <a href="https://github.com/{{ contributor.github }}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <p>{{ contributor.name }}</p>
                            <i class="fa fa-angle-double-up fa-3x"></i>
                        </div>
                    </div>
                    {% if contributor.img contains 'http' %}
                    <img src="{{ contributor.img }}" class="img-responsive" alt="">
                    {% else %}
                    <img src="{{site.img_base_url}}{{ contributor.img }}" class="img-responsive" alt="">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
