    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/puzzle_stamp_rgb.png" alt="">
                    <div class="intro-text">
                        <span class="name">Th&ouml;mus Open Source Advents Challenge 2015</span>
                        <hr class="star-light">
                        <span class="skills">PUZZLE ITC - Changing IT for the better.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
