{% for door in site.doors %}
{% if door.active == 'true' %}
<div class="portfolio-modal modal fade" id="contributions-day-{{door.day}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Tag {{door.day}}</h2>
                        <h3>{{door.title}}</h3>
                        <hr class="star-primary">
                        {{ door.content }}
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
